

<div class="row">
							
								<!-- PAGE CONTENT BEGINS -->
								
									
								</div><!-- /.row -->

								
								<!--
								<h4 class="pink">
									<i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
									<a href="#modal-table" role="button" class="green" data-toggle="modal"> Table Inside a Modal Box </a>
								</h4>

								-->

								<div class="row">
									<div class="col-xs-12">
										

										<div class="clearfix">
											<div class="pull-right tableTools-container"></div>
										</div>
										<div class="table-header">
											Registered users list
										</div>

										<!-- div.table-responsive -->

										<!-- div.dataTables_borderWrap -->
										<div>
											<table id="users" class="table table-striped table-bordered table-hover">
												<thead>
													

													

													<tr>
														
														<th> ID</th>
														<th>First Name</th>
														<th>Last Name</th>
														<th>Email</th>														
														<th>Phone</th>
														<th>Balance</th>
														<th>Status</th>
														<th>Actions</th>
													</tr>
												</thead>
<tr>
									<tfoot>
										
									
														<td></td>
														<td><input type="text" class="search" name="first_name" placeholder="First Name"></td>
														<td><input type="text" class="search" name="last_name" placeholder="Last Name"></td>
														<td><input type="text" class="search" name="email"  placeholder="Email"></td>														
														<td><input type="text" class="search" name="phone" placeholder="Phone Number"></td>
														<td></td>
														<td>
														<select class="search" name="status"> 
														    <option value="">All</option>
															<option value="0">Active</option>
															<option value="1">Block</option>
														</select>
														</td>
														
													
														<td></td>
													</tr>
													</tfoot>
													<tbody>

													</tboby>
												</table>
										</div>
									</div>
								</div>

								<div id="modal-table" class="modal fade" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header no-padding">
												<div class="table-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
														<span class="white">&times;</span>
													</button>
													Results for "Latest Registered Domains
												</div>
											</div>

											<div class="modal-body no-padding">
												<table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top" id="users" >
													<thead>
														<tr>
															<th>Domain</th>
															<th>Price</th>
															<th>Clicks</th>

															<th>
																
																Update
															</th>
														</tr>
													</thead>

													

												</table>
											</div>

											<div class="modal-footer no-margin-top">
												<button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
													<i class="ace-icon fa fa-times"></i>
													Close
												</button>

												<ul class="pagination pull-right no-margin">
													<li class="prev disabled">
														<a href="#">
															<i class="ace-icon fa fa-angle-double-left"></i>
														</a>
													</li>

													<li class="active">
														<a href="#">1</a>
													</li>

													<li>
														<a href="#">2</a>
													</li>

													<li>
														<a href="#">3</a>
													</li>

													<li class="next">
														<a href="#">
															<i class="ace-icon fa fa-angle-double-right"></i>
														</a>
													</li>
												</ul>
											</div>
										</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
<script src="<?php echo $admin_url ?>/js/data-table/user.js"></script>      

<script>draw_users();</script>                  