


<div class="row">
							
																		<div class="table-header">
											Payment Accounts <button class="btn btn-default bbtn" onclick="window.location = '<?php echo get_admin_route('payment', 'save') ?>'">Add New</a> 
										</div>

										<!-- div.table-responsive -->

										<!-- div.dataTables_borderWrap -->
										<div>
											<table id="payment" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>														
														<th>ID</th>
														<th>Payment Method</th>
														<th>Payment Party</th>
														<th>Account Number/Mobile Number</th>
														<th>Account Title</th>
														<th>Branch Code</th>
														<th>CNIC</th>
														<th>Actions</th>
													</tr>
												</thead>

									<tfoot>
										
									<tr>
														
														
														<td>
														<select name="lucky_number" class="search">
														<option value=""> --All-- </option>
														<option value="bank">Bank</option>
														<option value="mobile">Mobile</option>
														</select> 
														</td>
														<td><input class="search" name="bank_name" placeholder="Payment Party"></td>														
														<td><input class="search" name="account_number" placeholder="Account Number/Mobile Number"></td>
														<td><input class="search" name="account_title" placeholder="Account Title"></td>
														<td><input class="search" name="branch_code" placeholder="Branch Code"></td>
														
														<td><input class="search" name="cnic" placeholder="NIC Number"></td>
													
														<td></td>
													</tr>
													</tfoot>
													<tbody>

													</tboby>
												</table>
										</div>
									</div>
								</div>

								<div id="modal-table" class="modal fade" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header no-padding">
												<div class="table-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
														<span class="white">&times;</span>
													</button>
													Results for "Latest Registered Domains
												</div>
											</div>

											<div class="modal-body no-padding">
												<table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top" id="users" >
													<thead>
														<tr>
															<th>Domain</th>
															<th>Price</th>
															<th>Clicks</th>

															<th>
																
																Update
															</th>
														</tr>
													</thead>

													

												</table>
											</div>

											<div class="modal-footer no-margin-top">
												<button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
													<i class="ace-icon fa fa-times"></i>
													Close
												</button>

												<ul class="pagination pull-right no-margin">
													<li class="prev disabled">
														<a href="#">
															<i class="ace-icon fa fa-angle-double-left"></i>
														</a>
													</li>

													<li class="active">
														<a href="#">1</a>
													</li>

													<li>
														<a href="#">2</a>
													</li>

													<li>
														<a href="#">3</a>
													</li>

													<li class="next">
														<a href="#">
															<i class="ace-icon fa fa-angle-double-right"></i>
														</a>
													</li>
												</ul>
											</div>
										</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->    

<script src="<?php echo $admin_url ?>/js/data-table/payment.js"></script>  
<script>draw_payment();</script>                  