<div class="row">
<form method="post" > <input type="hidden" name="action" value="save_payment_method">
<input type="hidden" name="user_payment_method_id" value="<?php echo @$current_paymnet_method["user_payment_method_id"] ?>">
<?php if( isset($errors) && is_array($errors) && count($errors)>0){ ?>
<div class="errors">
    <ul class="errors">
        <?php foreach($errors as $msgs){ ?>
        <li class="error"><?php echo implode(', ', $msgs) ?></li>
        <?php } ?>
    </ul>
</div>
<?php } ?>
<table id="user_save" class="table table-striped table-bordered table-hover">
	<tr>
        <td width="30%">Payment Type</td>
        <td><select name="method_name">
            <option value="bank" <?php if(@$current_paymnet_method["method_name"] == "bank") echo 'selected="selected"' ?>>Bank</option>
            <option value="mobile" <?php if(@$current_paymnet_method["method_name"] == "mobile") echo 'selected="selected"' ?>>Mobile</option>
        </select>
        </td>
    </tr>		
   <tr>
        <td>Payment Party</td>
        <td><input name="bank_name" value="<?php echo  @$current_paymnet_method["bank_name"] ?>"></td>
    </tr>		
    <tr>
        <td>Account Number / Mobile Number</td>
        <td><input name="account_number" value="<?php echo  @$current_paymnet_method["account_number"] ?>" ></td>
    </tr>		
    <tr class="bank_info payment_info">
        <td>Account Title</td>
        <td><input name="account_title" value="<?php echo  @$current_paymnet_method["account_title"] ?>" ></td>
    </tr>		

<tr  class="bank_info payment_info">
        <td>Bank Address</td>
        <td>
        <input name="bank_address" value="<?php echo  @$current_paymnet_method["bank_address"] ?>" >
        </td>
    </tr>

    <tr  class="bank_info payment_info">
        <td>Branch Code</td>
        <td><input name="branch_code" value="<?php echo  @$current_paymnet_method["branch_code"] ?>" ></td>
    </tr>

    <tr  class="mobile_info payment_info">
        <td>CNIC Number</td>
        <td><input name="cnic" value="<?php echo  @$current_paymnet_method["cnic"] ?>" ></td>
    </tr>

    <tr>
        <td></td>
        <td><button class="btn btn-primary btn-default">Save</button></td>
    </tr>
</table>
</form>
</div>

<script>
$("select[name=method_name]").change(function(){
    var method = $(this).val();
    $(".payment_info").hide();
    $("."+method+"_info").show();
    
});

$("select[name=method_name]").trigger("change");

</script>

<!--
<pre><?php print_r($current_paymnet_method) ?></pre>

-->