<div class="row">
<div class="table-header">
											Change Password
										</div>
<form method="post"> <input type="hidden" name="action" value="change_password">
<?php if( isset($errors) && is_array($errors) && count($errors)>0){ ?>
<div class="errors">
    <ul class="errors">
        <?php foreach($errors as $messages){ ?>
        <li class="error"><?php echo implode(', ', $messages) ?></li>
        <?php } ?>
    </ul>
</div>
<?php } ?>
<?php if($success){ ?>
<div class="success">Password Changed successfully</div>
<?php } ?>
<table id="login" class="table table-striped table-bordered table-hover">
    <!--<thead>
    <tr>
       <th colspan="2">Change Password</th> 
    </tr>
    </thead>-->
    <tbody>
	<tr>
        <td>Current Password</td>
        <td><input name="current_password" type="password"></td>
    </tr>		
   <tr>
        <td>New Password</td>
        <td><input name="new_password" type="password"></td>
    </tr>
    <tr>
        <td>Confirm Password</td>
        <td><input name="confirm_new_password" type="password"></td>
    </tr>
    <tr>
        <td></td>
        <td><button class="btn btn-primary btn-default">Change Password</button></td>
    </tr>
    </tbody>
</table>
</form>
</div>


