<div class="row">
<form method="post"> <input type="hidden" name="action" value="login">
<?php if( isset($errors) && is_array($errors) && count($errors)>0){ ?>
<div class="errors">
    <ul class="errors">
        
        <li class="error"><?php echo implode(', ', $errors) ?></li>
        
    </ul>
</div>
<?php } ?>
<!--<table id="login" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
       <th colspan="2">Dashboard</th> 
    </tr>
    </thead>
    <tbody>
	<tr>
        <td width="30%">Users</td>
        <td><?php echo $users ?></td>
    </tr>		
   <tr>
        <td>Draws</td>
        <td><?php echo $draws ?></td>
    </tr>
   <tr>
        <td>Participants</td>
        <td><?php echo $participants ?></td>
    </tr>
    <tr>
        <td>Coins used</td>
        <td><?php echo $coils ?></td>
    </tr>
   <tr>
        <td>Winners</td>
        <td><?php echo $winners ?></td>
    </tr>
   
    </tbody>
</table>-->
<div class="col-md-4 text-center">
<div class="extradv">
<i class="fa fa-users" aria-hidden="true"></i>
    <h3>Users</h3>
    <p><?php echo $users ?></p>
</div>
</div>
<div class="col-md-4 text-center">
<div class="extradv">
<i class="fa fa-money" aria-hidden="true"></i>
    <h3>Draws</h3>
    <p><?php echo $draws ?></p>
</div>
</div>
<div class="col-md-4 text-center">
<div class="extradv">
<i class="fa fa-paperclip" aria-hidden="true"></i>
    <h3>Participants</h3>
   <p><?php echo $participants ?></p>
</div>
</div>
<div class="col-md-4 text-center">
<div class="extradv">
<i class="fa fa-codiepie" aria-hidden="true"></i>
    <h3>Coins used</h3>
   <p><?php echo $coils ?></p>
</div>
</div>
<div class="col-md-4 text-center">
<div class="extradv">
<i class="fa fa-trophy" aria-hidden="true"></i>
    <h3>Winners</h3>
    <p><?php echo $winners ?></p>
</div>
</div>


</form>
</div>