<?php

$admin_url = get_admin_url();

?>


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Coin Trade</title>

		<meta name="description" content="Static &amp; Dynamic Tables" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="<?php echo $admin_url ?>/css/bootstrap.min.css" />
		<link rel="stylesheet" href="<?php echo $admin_url ?>/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="<?php echo $admin_url ?>/css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="<?php echo $admin_url ?>/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="<?php echo $admin_url ?>/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="<?php echo $admin_url ?>/css/ace-skins.min.css" />
		<link rel="stylesheet" href="<?php echo $admin_url ?>/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="<?php echo $admin_url ?>/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<style>
			.errors{
				width: 100%;
				padding: 10px;
				background-color: #FBA;				
			}
			.error{
				color: #F00;
			}

			.success{
				width: 100%;
				padding: 10px;
				background-color: #0F0;
				color: #080;				
			}
			
		</style>

        <script>
            function get_admin_route(page){
                return "<?php echo get_site_url() . "index.php" ?>/admin/" + page + "/data";
            }
        </script>    

		<!-- ace settings handler -->
		<script src="<?php echo $admin_url ?>/js/ace-extra.min.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="<?php echo $admin_url ?>/js/html5shiv.min.js"></script>
		<script src="<?php echo $admin_url ?>/js/respond.min.js"></script>
		<![endif]-->

        		<!--[if !IE]> -->
		<script src="<?php echo $admin_url ?>/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="<?php echo $admin_url ?>/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='<?php echo $admin_url ?>/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="<?php echo $admin_url ?>/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->
		<script src="<?php echo $admin_url ?>/js/jquery.dataTables.min.js"></script>
		<script src="<?php echo $admin_url ?>/js/jquery.dataTables.bootstrap.min.js"></script>
		<script src="<?php echo $admin_url ?>/js/dataTables.buttons.min.js"></script>
		<script src="<?php echo $admin_url ?>/js/buttons.flash.min.js"></script>
		<script src="<?php echo $admin_url ?>/js/buttons.html5.min.js"></script>
		<script src="<?php echo $admin_url ?>/js/buttons.print.min.js"></script>
		<script src="<?php echo $admin_url ?>/js/buttons.colVis.min.js"></script>
		<!--<script src="<?php echo $admin_url ?>/js/dataTables.select.min.js"></script>

		<!-- ace scripts 
		<script src="<?php echo $admin_url ?>/js/ace-elements.min.js"></script>
		<script src="<?php echo $admin_url ?>/js/ace.min.js"></script>
-->

	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default ace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand" title="Coin Trade Admin Panel">
						<small>
							<i class="fa fa-leaf"></i>
							Coin Trade Admin Panel 
						</small>
					</a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<!--
					<ul class="nav ace-nav">

						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="<?php echo $admin_url ?>/images/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>Welcome,</small>
									Jason
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#">
										<i class="ace-icon fa fa-cog"></i>
										Settings
									</a>
								</li>

								<li>
									<a href="profile.html">
										<i class="ace-icon fa fa-user"></i>
										Profile
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="#">
										<i class="ace-icon fa fa-power-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>
					</ul>-->
				</div>
			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>
			<?php if(is_admin_user()){ ?>
			<div id="sidebar" class="sidebar                  responsive                    ace-save-state">



				<ul class="nav nav-list">
					
					<li class="">
						<a href="<?php echo get_route("adminaccount"); ?>" class="dropdown-toggle">							
							<span class="menu-text">
								Dashboard
							</span>							
						</a>						
					</li>

					<li class="">
						<a href="<?php echo get_admin_route("user"); ?>" class="dropdown-toggle">							
							<span class="menu-text">
								Users
							</span>							
						</a>						
					</li>

		
					<li class="">
						<a href="<?php echo get_admin_route("transaction"); ?>" class="dropdown-toggle">
							<span class="menu-text">
								Transactions
							</span>							
						</a>
						
					</li>

					<li class="">
					<a href="<?php echo get_admin_route("transaction", "deposite"); ?>" class="dropdown-toggle">
							<span class="menu-text">
								Deposite
							</span>							
						</a>
					</li>

					<li class="">
					<a href="<?php echo get_admin_route("transaction", "withdraw"); ?>" class="dropdown-toggle">
							<span class="menu-text">
								Withdraw
							</span>							
						</a>
					</li>

					<li class="">
						<a href="<?php echo get_admin_route("draw"); ?>" class="dropdown-toggle">
							<span class="menu-text">
								Draws
							</span>							
						</a>
					</li>

					<li class="">
						<a href="<?php echo get_admin_route("draw", "lucky_number_statistics"); ?>" class="dropdown-toggle">
							<span class="menu-text">
								Lucky Number Statistics
							</span>							
						</a>
					</li>

					<li class="">
						<a href="<?php echo get_admin_route("payment"); ?>" class="dropdown-toggle">
							<span class="menu-text">
								Payment
							</span>							
						</a>
					</li>

					<li class="">
						<a href="<?php echo get_route("adminaccount", "change_password"); ?>" class="dropdown-toggle">
							<span class="menu-text">
								Change Password
							</span>							
						</a>
					</li>

					<li class="">
						<a href="<?php echo get_route("adminaccount", "logout"); ?>" class="dropdown-toggle">
							<span class="menu-text">
								Logout
							</span>							
						</a>
					</li>
				</ul><!-- /.nav-list -->
			<?php } ?>
<!--
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
                -->
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<!--<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li>
								<a href="#">Tables</a>
							</li>
							<li class="active">Simple &amp; Dynamic</li>
						</ul>

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div>
					</div>
						-->
					<div class="page-content">
						
                    <?php @include_once($view)  ?>
						
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder"> Coin Trade  </span>
							Admin Panel
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!-- inline scripts related to this page -->
		
	</body>
</html>
