<div class="row">
<form method="post"> <input type="hidden" name="action" value="login">
<?php if( isset($errors) && is_array($errors) && count($errors)>0){ ?>
<div class="errors">
    <ul class="errors">
        
        <li class="error"><?php echo implode(', ', $errors) ?></li>
        
    </ul>
</div>
<?php } ?>
<table id="login" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
       <th colspan="2">Admin Login</th> 
    </tr>
    </thead>
    <tbody>
	<tr>
        <td>Email</td>
        <td><input name="email" value="" type="email"></td>
    </tr>		
   <tr>
        <td>Password</td>
        <td><input name="password" value="" type="password"></td>
    </tr>
    <tr>
        <td></td>
        <td><button class="btn btn-primary btn-default">Login</button></td>
    </tr>
    </tbody>
</table>
</form>
</div>