<html>

<head>
    <title>Email template</title>
</head>

<body style="font-family: Verdana, Geneva, sans-serif; margin:0px; padding: 0px;">
    <header style="line-height: 80px; width: 100%; background-color: #2753FE; color: #FFF; height: 80px; text-align:center; vertical-align: middle; font-family: Georgia, serif ">
        <h2>Welcome to Coins Trade</h2>
    </header>
    <article style="min-height: 200px; padding: 20px;"><?php echo $message ?></article>
    <footer style="line-height: 80px; width: 100%; background-color: #2753FE; color: #FFF; height: 80px; text-align: center;"><em>All rights reserve</em> </footer>
</body>

</html>