


<div class="row">
							
																		<div class="table-header">
											Draws
										</div>

										<!-- div.table-responsive -->

										<!-- div.dataTables_borderWrap -->
										<div>
											<table id="draws" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>														
														<th>Draw Time</th>
														<th>Lucky Number</th>
														<th>Draw Number</th>
														<th>Create Time</th>
														<th>Participants</th>
														<th>Winners</th>
													</tr>
												</thead>

									<tfoot>
										
									<tr>
														
														<td></td>
														<td>
														<select name="lucky_number" class="search">
														<option value=""> --All-- </option>
														<?php for($i=0; $i <= 9; $i++){ ?>
															<option value="<?php echo $i ?>"><?php echo $i ?></option>
														<?php } ?>
														</select> 
														</td>
														<td><!--Draw Number--></td>														
														<td><!-- Create Time --></td>
														<td><!-- Participants --></td>
														<td><!-- Winner --></td>
														
													
														
													</tr>
													</tfoot>
													<tbody>

													</tboby>
												</table>
										</div>
									</div>
								</div>

								<div id="modal-table" class="modal fade" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header no-padding">
												<div class="table-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
														<span class="white">&times;</span>
													</button>
													Results for "Latest Registered Domains
												</div>
											</div>

											<div class="modal-body no-padding">
												<table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top" id="users" >
													<thead>
														<tr>
															<th>Domain</th>
															<th>Price</th>
															<th>Clicks</th>

															<th>
																
																Update
															</th>
														</tr>
													</thead>

													

												</table>
											</div>

											<div class="modal-footer no-margin-top">
												<button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
													<i class="ace-icon fa fa-times"></i>
													Close
												</button>

												<ul class="pagination pull-right no-margin">
													<li class="prev disabled">
														<a href="#">
															<i class="ace-icon fa fa-angle-double-left"></i>
														</a>
													</li>

													<li class="active">
														<a href="#">1</a>
													</li>

													<li>
														<a href="#">2</a>
													</li>

													<li>
														<a href="#">3</a>
													</li>

													<li class="next">
														<a href="#">
															<i class="ace-icon fa fa-angle-double-right"></i>
														</a>
													</li>
												</ul>
											</div>
										</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->    

<script src="<?php echo $admin_url ?>/js/data-table/draw.js"></script>  
<script>draw_luckydraw();</script>                  