<style>
    tr.expected-numbers td{
        background-color: #000;
        color: #FFF;
    }
</style>

<div class="row">
<div class="table-header">
	Next Draw	<?php echo date("F d, Y H:i:s", $php_draw_time); ?>
</div>
<table id="lucky_number_statistics" class="table table-striped table-bordered table-hover">
    <thead>
       <tr>
          <th>Luck Number</th>  
          <th>Coins Bought</th>  
          <th>Reward</th>  
          <th>Number of Participants (Users)</th>  
          <th>Profit &amp; Loss</th>  
          <th>Select for draw</th>
       </tr> 
    </thead>
    <tbody>    
<?php foreach($lucky_numbers as $number => $coins){
            $class = ''; 
            if($number == $lucky_number) {
                if($coins == $lucky_numbers[$lucky_number]) $class = 'expected-numbers';
            } 

?>    
	<tr class="<?php echo $class ?>">
        <td><?php echo $number ?></td>
        <td><?php echo $coins ?></td>
        <td><?php echo ($coins * 9) ?></td>
        <td><?php echo $investors[$number] ?></td>
        
        <td><?php echo $total_sale - ($coins * 9) ?></td>
        <td><?php if($number == $lucky_number) echo '<strong>Selected Lucky Number</strong>'; 
        else echo '<a href="'.get_admin_route('draw', 'set_lucky_number', array($draw_id, $number, $php_draw_time)).'">Set this as lucky number</a>'; ?></td>
    </tr>		
<?php } ?>    
   
</table>
</form>
</div>



