<div class="row">
<form method="post" enctype="multipart/form-data"> <input type="hidden" name="action" value="save_user">
<table id="user_save" class="table table-striped table-bordered table-hover">
	<tr>
        <td>First Name</td>
        <td><input name="first_name" value="<?php echo $data["first_name"] ?>"></td>
    </tr>		
   <tr>
        <td>Last Name</td>
        <td><input name="last_name" value="<?php echo $data["last_name"] ?>"></td>
    </tr>		
    <tr>
        <td>Email</td>
        <td><input name="email" value="<?php echo $data["email"] ?>" type="email" disabled="disabled"></td>
    </tr>		
    <tr>
        <td>Phone</td>
        <td><input name="phone" value="<?php echo $data["phone"] ?>" ></td>
    </tr>		

<tr>
        <td>Gender</td>
        <td>
        <input  type="radio"  name="gender" value="male" <?php if($data["gender"] == "male") echo 'checked="checked"' ?> > Male 
        <input  type="radio"  name="gender" value="female" <?php if($data["gender"] == "female") echo 'checked="checked"' ?> > Female 
        </td>
    </tr>

    <tr>
        <td>City</td>
        <td><input name="city" value="<?php echo $data["city"] ?>" ></td>
    </tr>

    <tr>
        <td>State</td>
        <td><input name="state" value="<?php echo $data["state"] ?>" ></td>
    </tr>

    <tr>
        <td>Country</td>
        <td><input name="country" value="<?php echo $data["country"] ?>" ></td>
    </tr>

    <tr>
        <td>Balance</td>
        <td><input name="balance" value="<?php echo $data["balance"] ?>" disabled="disabled"></td>
    </tr>

    <tr>
        <td>Profile Image</td>
        <td><input name="profile_image" type="file">
        <img src="<?php echo get_admin_route("user", "profile_image", array($data["user_id"])) ?>" width="120" height="120" >
        </td>
    </tr>
    <tr>
        <td>Status</td>
        <td>
        <input name="block" type="radio" value="0" <?php if($data["block"] == "0") echo 'checked="checked"' ?> > Active
        <input name="block"  type="radio" value="1" <?php if($data["block"] == "1") echo 'checked="checked"' ?> > Block
        </td>
    </tr>

    <tr>
        <td></td>
        <td><button class="btn btn-primary btn-default">Save</button></td>
    </tr>
</table>
</form>
</div>

