<div class="row">
<form method="post"> <input type="hidden" name="action" value="deposite">
<?php if( isset($errors) && is_array($errors) && count($errors)>0){ ?>
<div class="errors">
    <ul class="errors">
        <?php foreach( $errors as $error => $msgs ){ ?>
        <li class="error"><?php echo implode(', ', $msgs) ?></li>
        <?php } ?>
    </ul>
</div>
<?php }

if($success == 1){
    echo '<div class="success">Deposite Amount successfully</div>';
}
 ?>




<table id="login" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
       <th colspan="2">Deposite</th> 
    </tr>
    </thead>
    <tbody>
	<tr>
        <td>User ID</td>
        <td><input type="number" min=1 name="user_id">
        <!--
        <select name="user_id">
            <?php for($i=0, $count = count($users); $i < $count; $i++){ ?>
                <option value="<?php echo $users[$i]->user_id ?>"><?php echo ucwords( $users[$i]->first_name . ' ' . $users[$i]->last_name  ) . ' ('.$users[$i]->email.')' ?></option>
            <?php } ?>
        </selec>
        -->
        </td>
    </tr>		
    <!--
   <tr>
        <td>Payment Method</td>
        <td>
        <div style="height: 200px; overflow-y: scroll; border: 1px solid #999;">
        
        <?php for($i=0, $count = count($deposite_methods); $i < $count; $i++){ ?>
            <div class="payment-method">
            <input type="radio" name="user_payment_method_id" value="<?php echo $deposite_methods[$i]->user_payment_method_id ?>"> 
                <strong><?php echo ucwords($deposite_methods[$i]->bank_name) ?></strong>
                 <label> ( <?php echo ($deposite_methods[$i]->method_name == "mobile") ? "Mobile Number" : "Account Number"  ?> <?php echo $deposite_methods[$i]->account_number ?>) </label>, 
                 <?php if($deposite_methods[$i]->method_name == "mobile"){ ?>
                       NIC #  <?php echo $deposite_methods[$i]->cnic ?>
                 <?php } else if($deposite_methods[$i]->method_name == "bank"){ ?>
                       Branch Code <?php echo $deposite_methods[$i]->branch_code ?> 
                <?php } ?>
            </div>
        <?php } ?>
        </div>
        </td>
    </tr>

    -->
    <tr>
        <td>Amount</td>
        <td><input name="amount" type="number" min="1" ></td>
    </tr>	

    <tr>
        <td>Instructions</td>
        <td><textarea  name="instructions"  ></textarea></td>
    </tr>		
    <tr>
        <td></td>
        <td><button class="btn btn-primary btn-default">Deposite</button></td>
    </tr>
    </tbody>
</table>
</form>
</div>

