


<div class="row">
							
																		<div class="table-header">
											Transactions
										</div>

										<!-- div.table-responsive -->

										<!-- div.dataTables_borderWrap -->
										<div>
											<table id="transactions" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th>Transaction ID</th>														
														<th>User</th>														
														<th>Amount</th>														
														<th>Account Info</th>
														<th>Transaction Type</th>
														<th>Transaction Time</th>
														<th>Transaction Status</th>
														<th>Child Transactions</th>
														<th><!--Actions --> View Details</th>
													</tr>
												</thead>

									<tfoot>
										
									<tr>
														<td></td>
														<td><input type="text" class="search" name="user" placeholder="User(Name or Email)"></td>
														<td>
														<input type="text" size="4" class="search" name="amount_from" placeholder="From">
														<input type="text" size="4" class="search" name="amount_to" placeholder="To">
														</td>
														<td><!--<input type="text" class="search" name="email"  placeholder="Email">--></td>														
														
														<td><select class="search" name="transaction_type">
															<option value=""> --Any Type-- </option>
															<?php for($i=0, $count = count($transaction_types); $i < $count; $i++){ ?>
															<option value="<?php echo $transaction_types[$i]["transaction_type"] ?>"><?php echo $transaction_types[$i]["transaction_type"] ?></option>
															<?php } ?>
														</select></td>
														<td>
														
														</td>
														
													
														<td><select class="search" name="transaction_status"> 
														    <option value=""> --All-- </option>
															<option value="0">Pending</option>
															<option value="1">Approved</option>
															<option value="2">Rejected</option>
														</select></td>
														
													</tr>
													</tfoot>
													<tbody>

													</tboby>
												</table>
										</div>
									</div>
								</div>

								<div id="modal-table" class="modal fade" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header no-padding">
												<div class="table-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
														<span class="white">&times;</span>
													</button>
													Results for "Latest Registered Domains
												</div>
											</div>

											<div class="modal-body no-padding">
												<table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top" id="users" >
													<thead>
														<tr>
															<th>Domain</th>
															<th>Price</th>
															<th>Clicks</th>

															<th>
																
																Update
															</th>
														</tr>
													</thead>

													

												</table>
											</div>

											<div class="modal-footer no-margin-top">
												<button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
													<i class="ace-icon fa fa-times"></i>
													Close
												</button>

												<ul class="pagination pull-right no-margin">
													<li class="prev disabled">
														<a href="#">
															<i class="ace-icon fa fa-angle-double-left"></i>
														</a>
													</li>

													<li class="active">
														<a href="#">1</a>
													</li>

													<li>
														<a href="#">2</a>
													</li>

													<li>
														<a href="#">3</a>
													</li>

													<li class="next">
														<a href="#">
															<i class="ace-icon fa fa-angle-double-right"></i>
														</a>
													</li>
												</ul>
											</div>
										</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->    

<script src="<?php echo $admin_url ?>/js/data-table/transactions.js"></script>  
<script>draw_transactions();</script>                  