<div class="row">
    <div class="table-header">Transaction Detail</div>
<?php if( isset($errors) && is_array($errors) && count($errors)>0){ ?>
<div class="errors">
    <ul class="errors">
        <?php foreach($errors as $messages){ ?>
        <li class="error"><?php echo implode(', ', $messages) ?></li>
        <?php } ?>
    </ul>
</div>
<?php } ?>    
<form method="post" > 
<input type="hidden" name="action" value="update_transaction">
<input type="hidden" name="transaction_id" value="<?php echo $transaction->transaction_id ?>">
<table id="update-transaction" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th colspan="2">User Info</th>
    </tr>
    </thead>
    
    
	<tr>
        <td width="30%">First Name</td>
        <td><?php echo $transaction->first_name ?></td>
    </tr>		
   <tr>
        <td>Last Name</td>
        <td><?php echo $transaction->last_name ?></td>
    </tr>		
    <tr>
        <td>Email</td>
        <td><?php echo $transaction->email ?></td>
    </tr>		
    <tr>
        <td>Phone</td>
        <td><?php echo $transaction->phone ?></td>
    </tr>		
    <tr>
        <td>Balance</td>
        <td><?php echo $transaction->balance ?></td>
    </tr>		
    <?php if($transaction->user_payment_method_id){ ?>
    <thead>
    <tr>
        <th  colspan="2">Payment Method</th>
    </tr>
    </thead>
    <tr>
        <td>Payment Method</td>
        <td><?php echo ucwords($transaction->method_name); ?></td>
    </tr>
    <tr>
        <td>Payment Party</td>
        <td><?php echo $transaction->bank_name ?></td>
    </tr>
    <tr>
        <td>Account Number / Mobile Number  </td>
        <td><?php echo $transaction->account_number ?></td>
    </tr>
    
    <?php if($transaction->method_name == "bank"){ ?>
     <tr>
        <td>Account Title  </td>
        <td><?php echo $transaction->account_title ?></td>
    </tr> 
    <tr>
        <td>Branch Address   </td>
        <td><?php echo $transaction->bank_address ?></td>
    </tr>   
    <tr>
        <td>Branch Code   </td>
        <td><?php echo $transaction->branch_code ?></td>
    </tr>   
    <?php } else if($transaction->method_name == "mobile"){  ?>
    <tr>
        <td>NIC Number   </td>
        <td><?php echo $transaction->cnic ?></td>
    </tr> 
    <?php } ?>

    <?php } ?>
    <thead>
    <tr>
        <th  colspan="2">Transaction Details</th>
    </tr>    
    </thead>
    <tr>
        <td>Amount</td>
        <td><?php echo $transaction->amount ?></td>
    </tr>
    <tr>
        <td>Instructions</td>
        <td><?php echo $transaction->instructions ?></td>
    </tr>
    <tr>
        <td>Description</td>
        <td><?php echo $transaction->description ?></td>
    </tr>
    <tr>
        <td>Transaction Type</td>
        <td><?php echo $transaction->transaction_type ?></td>
    </tr>
    <tr>
        <td>Transaction Status</td>
        <td><?php 
            switch($transaction->transaction_status){ 
                case "0": 
                    echo "Pending"; 
                break; 
                
                case "1": 
                    echo "Approved"; 
                break; 

                case "2": 
                    echo "Disapproved"; 
                break;

                case "-1": 
                    echo "System Generated"; 
                break;

                case "3": 
                    echo "Reversed"; 
                break;  
            } 
            ?></td>
    </tr>
    <tr>
        <td>Transaction Time</td>
        <td><?php echo date("F d, Y h:i:s A", strtotime($transaction->transaction_time)) ?></td>
    </tr>
<?php if($transaction->transaction_status != "-1"){ ?>
    <tr>
        <td>Transaction Status</td>
        <td>
        <select name="transaction_status" required="required">
        <?php if($transaction->transaction_status != 0 ){ ?>
            <option value="0">Pending</option>
        <?php } ?>
        <?php if($transaction->transaction_status != 1 ){ ?>
            <option value="1">Approved</option>
        <?php } ?>
        <?php if($transaction->transaction_status != 2 ){ ?>
            <option value="2">UnApproved/Rejected</option>
        <?php } ?>
        </select>
        </td>
    </tr>

    <tr>
        <td>Admin Instructions</td>
        <td><textarea name="instructions"></textarea></td>
    </tr>

    <tr>
        <td></td>
        <td><button class="btn btn-primary btn-default">Change Status</button></td>

    </tr>

<?php } ?>

    <!--
    
    <tr>
        <td></td>
        <td><?php

            switch($transaction->transaction_status){

                case "0":
                
                    $status_action = '<a class="btn btn-primary btn-default" href="'. get_admin_route("transaction", "change_status", array($transaction->transaction_id, 1)) .'" >Approve</a>';
                    $status_action .= '  <a class="btn btn-primary btn-default" href="'. get_admin_route("transaction", "change_status", array($transaction->transaction_id, 2)) .'" >Reject</a>';
                break;

                case "2":
                    $status_action = '<a class="btn btn-primary btn-default" href="'. get_admin_route("transaction", "change_status", array($transaction->transaction_id, 1)) .'" >Approve</a>';
                break;

            }

            



            echo $status_action

?></td>
    </tr>

    -->
    
</table>
</form>
</div>

