<div class="row">
<form method="post"> <input type="hidden" name="action" value="withdraw">
<?php if( isset($errors) && is_array($errors) && count($errors)>0){ ?>
<div class="errors">
    <ul class="errors">
        <?php foreach( $errors as $error => $msgs ){ ?>
        <li class="error"><?php echo implode(', ', $msgs) ?></li>
        <?php } ?>
    </ul>
</div>
<?php }

if($success == 1){
    echo '<div class="success">Withdraw Amount successfully</div>';
}
 ?>




<table id="login" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
       <th colspan="2">Withdraw</th> 
    </tr>
    </thead>
    <tbody>
	<tr>
        <td>User ID</td>
        <td><input type="number" min="1" name="user_id" id="user-id">
        <!--
        <select name="user_id">
            <?php for($i=0, $count = count($users); $i < $count; $i++){ ?>
                <option value="<?php echo $users[$i]->user_id ?>"><?php echo ucwords( $users[$i]->first_name . ' ' . $users[$i]->last_name  ) . ' ('.$users[$i]->email.')' ?></option>
            <?php } ?>
        </selec>
        -->
        </td>
    </tr>		
    <!--
   <tr>
        <td>Payment Method</td>
        <td>
        <div style="height: 200px; overflow-y: scroll; border: 1px solid #999;" id="payment-methods">
        
       </div>
        </td>
    </tr>
    -->
    <tr>
        <td>Amount</td>
        <td><input name="amount" type="number" min="1" ></td>
    </tr>	

    <tr>
        <td>Instructions</td>
        <td><textarea  name="instructions"  ></textarea></td>
    </tr>		
    <tr>
        <td></td>
        <td><button class="btn btn-primary btn-default">Withdraw</button></td>
    </tr>
    </tbody>
</table>
</form>
</div>

<script>
jQuery(document).ready( function (){
    jQuery("[name=user_id]").on('change input', function (){
     //   alert("change");
        var user_id = $(this).val();
        jQuery.ajax({
            "url": "<?php echo get_admin_route("transaction", "ajax_get_user_payment_method"); ?>",
            "type": "POST",
            "data": {"user_id": user_id}  
        }).done(function (html){
            jQuery("#payment-methods").html(html);
        });    

    });
    jQuery("select[name=user_id]").trigger("change");
});    
</script>

